<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Birth Date</th>
      <th>Gender</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Subject</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <%= turbo_frame_tag dom_id(user) do %>
        <tr>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td><%= user.birth_date %></td>
          <td><%= user.gender.titleize %></td>
          <td><%= user.email %></td>
          <td><%= user.phone_number %></td>
          <td><%= user.subject %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
