<div id="<%= dom_id(user) %>" class="user-card fade-in-scale">
  <div class="flex-row-start">
    <div class="flex-row-between">
      <div class="flex-row-start gap-md">
        <%= image_tag ("/assets/avatar.png") , class: "img-avatar"%>
        <div class="flex-col-start gap-sm">
          <h3 class="line-clamp-1"><%= user.first_name %> <%= user.last_name %></h3>
          <p class="line-clamp-1"><%= user.email %></p>
        </div>
      </div>
      <div class="flex-row-start gap-md bg-white">
        <%= button_to 'Edit', edit_user_path(user), method: :get, data: { turbo_frame: "user_form" }, class: 'btn-secondary edit-button' %>
        <%= button_to 'Delete', user_path(user), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: 'btn-danger' %>
      </div>
    </div>
  </div>
    <div class="flex-grid-4 mt-md t-border">
        <div class="flex-row-start gap-sm"><h4 class="text-title-low">Birth date: </h4> <%= user.birth_date %></div>
        <div class="flex-row-start gap-sm"><h4 class="text-title-low">Phone Number: </h4> <%= user.phone_number %></div>
        <div class="flex-row-start gap-sm"><h4 class="text-title-low">Gender: </h4> <%= user.gender.titleize %></div>
        <div class="flex-row-start gap-sm"><h4 class="text-title-low">Subject: </h4> <%= user.subject %></div>
    </div>
</div>