<tr id="<%= dom_id(user) %>" class="fade-in-scale">
  <td><%= user.first_name %></td>
  <td><%= user.last_name %></td>
  <td><%= user.birth_date %></td>
  <td><%= user.gender.titleize %></td>
  <td><%= user.email %></td>
  <td><%= user.phone_number %></td>
  <td><%= user.subject %></td>
</tr>